/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  background: #23424a;
  color: white;
  padding:1em;

}

.intro-content {
  max-width: 750px;
  margin:0 auto;
  padding: 5em;
}

.btn{
  display: block;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 2vmin;
line-height: 150.19%;
color: #072A2D;
background: #38CFD9;
border-radius: 31.5px;
border:none;
padding:.5em 1.3em;

}

